<div class="container" ng-controller="MainController">
    <div class="row">
        <div class="col-sm-3">

            <div class="panel">
                <div class="panel-heading bg-primary">
                    <span ng-bind="currentExercise.details.title"></span>
                </div>
                <div class="panel-body">
                    <p class="text-justify">
                        <span ng-bind="currentExercise.details.desc"></span>
                    </p>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading bg-primary">
                    <span>Procedure</span>
                </div>
                <div class="panel-body">
                    <p class="text-justify">
                        <span ng-bind="currentExercise.details.procedure"></span>
                    </p>
                </div>
            </div>

        </div>

        <div class="col-sm-6">

            <h3 class="text-center"><span class="text-success" ng-bind="currentExercise.details.name"></span></h3>
                <p class="text-center">Remaining time:
                    <strong>
                    <span class="text-info" ng-bind="totalTime | timeFilter">

                </span></strong>
                </p>
            <div class="">
                <img ng-src="{{currentExercise.details.image}}" class="img-responsive center-block" width="250"
                     height="250">
            </div>


            <div class="progress progress-bar-striped active">

                <div class="progress-bar progress-bar-success"
                     style="{{'width:' + (currentExercise.duration - remaining)/currentExercise.duration *100 +'%'}}">

                </div>
                <div class="progress-bar progress-bar-danger"
                     style="{{'width:' + remaining/currentExercise.duration *100 +'%'}}">

                </div>

            </div>

            <div class="row">
                <div class="col-sm-5">
                    <p class="text-center">
                        Time Remaining:
                        <strong><span class="text-success" ng-bind="remaining"></span></strong>
                    </p>
                </div>
                <div class="col-sm-6 col-sm-offset-1">

                    <div ng-if="currentExercise.details.name == 'rest'">
                        Next exercise:<strong><span ng-bind="workPlan.exercises[0].details.name" class="text-success"></span></strong>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-sm-3">

            <div class="panel">
                <div class="panel-heading bg-primary" >
                    <span>Video1</span>

                </div>

                <div class="panel-body bg-info">
                    <div class="embed-responsive embed-responsive-4by3 hidden-xs">
                        <iframe class="embed-responsive-item" src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4"></iframe>
                    </div>
                </div>

            </div>

        </div>

    </div>


</div>